@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
}
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
.name{
    font-size: 250%;
}
.pics{
    width: 20%;
    padding-right: 5%;
}
#pic{
    display: flex;
}
.hidden{
    opacity: 0;
    filter: blur(6px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}
.pics:nth-child(2){
    transition-delay: 200ms;
}
.pics:nth-child(3){
    transition-delay: 400ms;
}
.pics:nth-child(4){
    transition-delay: 600ms;
    
}